.list {
    max-height: 130px; /* Максимальна висота списку */
    overflow-y: auto; /* Додати прокрутку при перевищенні максимальної висоти */
}

.inputForm {
    width: 320px;
    height: 60px;
    border-radius: 15px;
    margin: 5px;
    font-family: "Montserrat";
    border: none;
    background-color: snow;
}
.listli, .listli2 {
    background-color: #ADD8E6;
    list-style-type: none;
    min-height: 30px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-family: "Montserrat";
    border-radius: 7px;
    top: calc(-100% - 5px);
    z-index: 1;
}
.listul, .listul2 {
    position: absolute;
    height: 300px;
    width: 350px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
}
.buttonInput {
    margin-left: 40px;
    margin-top: 6px;
    height: 50px;
    width: 250px;
    padding: 0;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 17px;
    font-family: "Montserrat SemiBold";
}
.buttonInput:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}
.inputFormName {
    width: 152px;
    height: 60px;
    border-radius: 15px;
    margin: 5px;
    font-family: "Montserrat";
    border: none;
    background-color: snow;
}

@media (max-width: 500px) {
    .listul {
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 39%;
    }
    .listli {
        background-color: #e4e9ec;
        list-style-type: none;
        min-height: 20px;
        border-bottom: 1px solid #ccc;
        padding: 8px;
        font-family: "Montserrat";
        border-radius: 3px;
        z-index: 2;
    }
    .listul2 {
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 28%;

    }
    .listli2 {
        background-color: #adb5b6;
        list-style-type: none;
        min-height: 20px;
        border-bottom: 1px solid #ccc;
        padding: 8px;
        font-family: "Montserrat";
        border-radius: 3px;
        z-index: 2;
    }
}
