.price {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 300px ;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.price h1 {
    margin: 5px;
    font-size: 50px;
}
@media (max-width: 500px) {
    /*.price {*/
    /*    height: 70px;*/
    /*    width: 70px;*/
    /*}*/
    /*.price h1 {*/
    /*    margin: 2px;*/
    /*    font-size: 25px;*/
    /*}*/
    .price {
        display: none;
    }

}