.fifthComponentDiv {
    background-image: url("/public/images/5.png");
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    border: 0;
    padding: 0;
    background-size: cover;
    background-position: right;
    justify-content: center;
    align-items: center;
}

.howCreate {
    width: 50%;
    margin-bottom: 250px;
}

.howCreate h1 {
    font-family: "Montserrat";
    font-size: 45px;
    margin-left: 30px;
    margin-bottom: 100px;
}
.howCreate li {
    font-family: "Montserrat";
    font-size: 18px;
    margin-left: 35px;
    margin-top: 40px;
}
.divInputForm {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

}

@media (max-width: 500px) {
    .fifthComponentDiv {
        position: relative;
        flex-direction: column;
        height: 650px;
    }
    .howCreate {
        width: 80%;
        margin-bottom: 0;
    }
    .howCreate h1 {
        font-family: "Montserrat";
        font-size: 28px;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .howCreate li {
        font-family: "Montserrat";
        font-size: 12px;
        margin-left: 5px;
        margin-top: 4px;
    }

}